# Spring Boot configuration

server:
  port: ${PORT:9080}
  error:
    include-message: always

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/taxicrmcommon}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    sql-script-encoding: utf-8
    tomcat:
      test-on-borrow: true
      test-while-idle: true
      validation-query: select 1
  jpa:
    show-sql: false